@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700;900&display=swap');

// color setting
$color-primary-gray: #333;
$color-primary-black: #000;
$color-red: #ff0000;
$color-light-blue: #007aff;
$color-deep-blue: #2b447d;
$color-light-green: #53acac;
$color-deep-green: #48a38e;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  // position: relative;
  background-color: #fff;
  color: $color-primary-gray;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 400;
}

.container {
  // 方便做RWD
  max-width: 1080px;
  height: 100%;
  margin: 0 auto;
  // background-color: pink;
  position: relative;

}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

h2 {
  margin-bottom: 20px;
  padding: 10px;
  color: $color-light-green;
  font-size: 20px;
  font-weight: 700;
}




// input {
//   border-top: none;
//   border-left: none;
//   border-right: none;
//   background-color: unset;
//   outline:none;
// }